.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  .imageContainer {
    flex-grow: 1;
    width: calc(50% - 200px);

    .image {
      max-width: 70vw;
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}
